*{
	padding:0;
	margin:0;
	font-family:"PingFang SC","Microsoft yahei";
}
div,p,span,li,dd,dt,b,i,del,a{
	font-size:16px;
	color:#444;
}
input{
	font-size:14px;
}
img{
	border:0;
}
h1{
	font-size:20px;
}
h2{
	font-size:18px;
	
}
h3{
	font-size:16px;
}
h4{
	font-size:14px;
}
h5{
	font-size:12px;
}
h1,h2,h3,h4,h5,h6{
	font-weight:400;
	color:#444;
}
a{
	text-decoration:none;
}
body{
	background:#f1f3f5;
}
ul,li,dd,dt,dl{
	list-style:none;
}
input,select,option{
	outline:none;
}
/* WebKit browsers */
::-webkit-input-placeholder {
	color: #b3b3b3;
}
/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
	color: #b3b3b3;
	opacity: 1;
}
/* Mozilla Firefox 19+ */
::-moz-placeholder {
	color: #b3b3b3;
	opacity: 1;
}
/* Internet Explorer 10+ */
:-ms-input-placeholder {
	color: #b3b3b3;
}
//混合宏定义
@mixin nofloat{
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}
.nav-row6{
	width:200px;
	float:left;
}
.nav-row5{
	width:240px;
	float:left;
}
.nav-row4{
	width:300px;
	float:left;
}
.nav-row3{
	width:400px;
	float:left;
}
.nav-row2{
	width:600px;
	float:left;
}
.icon{
	background-image:url(../img/icon.png);
}
.nav-now{
	background:#5c91e6;
}
.center{
	width:1200px;
	margin:0 auto;
}
.no-float{
	@include nofloat;
	*overflow:hidden;
}
.font-center{
	text-align:center;
}
.button{
	a{
		width: 130px;
		height: 40px;
		background:#5c91e6;
		color:#fff;
		text-align: center;
		line-height: 40px;
		display: block;
		border-radius:3px;
	}
	a:active{
		background: #507fcb;
	}
}
.samepage{
	.title{
		h1{
			height: 75px;
			line-height: 75px;
			color:#333;
		}
	}
	.nav{
		background:#2f3a47;
		a{
			height: 80px;
			line-height:80px;
			text-align:center;
			span{
				color:#fff;
				padding-left: 30px;
				position:relative;
				text-align: center;
			}
			.icon{
				width:30px;
				height: 30px;
				position: absolute;
				top: 2px;
				left: 0;
			}
			.left{
				.icon{
					background-position: 0 0;
				}
			}
			.right{
				.icon{
					background-position:-30px 0;
					left: -3px;
				}
			}
			&.now{
				background:#5c91e6;
			}
		}
	}
	.content{
		background:#fff;
		margin-top: 50px;
		.content-head{
			height: 80px;
			line-height: 80px;
			padding:0 30px;
			.back,.pop-center,span{
				float: left;
				height: 100%;
			}
			.pop-center{
				margin-right:18px; 
				color:#5c91e6;
			}
			.back{
				width: 30px;
				position: relative;
				.icon{
					width: 20px;
					height: 16px;
					background-position:-90px 0;
					position:absolute;
					top: 32px;
					left: 0;
				}
			}
			.exit{
				float: right;
				position: relative;
				padding-right: 30px;
				color: #2c9b24;
				.icon{
					background-position:-60px 0;
					width: 18px;
					height: 17px;
					position:absolute;
					right: 0;
					top:32px;
				}
			}	
		}
		h2{
			height: 48px;
			line-height: 48px;
			background:#f5f9fa;
			padding-left:30px;
			border-top:1px solid #efefef;
			border-bottom:1px solid #efefef;
			.icon{
				width: 6px;
				height: 10px;
				background-position:0 -89px;
				margin: 0 5px;
				display: inline-block;
				*position:relative;
				*top:-5px;
			}
		}
		.content-body{
			padding:50px 0;
			.lis{
				position:relative;
			}
			.bind{
				line-height: 55px;
			}
			.edit{
				color:#32a729;
				margin-left: 10px;
			}
			.last.lis{
				padding-bottom: 80px;
			}
		}
		.content-ts{
			border-top: 1px solid #efefef;
			padding-top:25px;
			p{
				line-height: 25px;
				color:#b3b3b3;
				font-size: 14px;
				position:relative;
				padding-left:25px;
				span{
					color:#b3b3b3;
					position:absolute;
					top:0;
					left: 0;
				}
			}
			h3{
				height: 40px;
				line-height: 40px;
			}
		}
	}
	.bottom{
		p{
			line-height: 50px;
			height: 50px;
			text-align: center;
			color:#838fa3;
		}
	}
}
.samepage.virtual{
	input{
		line-height: 33px;
	}
	.nav{
		.n1{
			background-position:-228px 0;
			width: 20px;
			height: 17px;
			top: 3px;
			left: -3px;
		}
		.n2{
			background-position:-254px 0;
			width: 22px;
			height: 18px;
			top: 3px;
			left: -3px;
		}
		.n3{
			background-position:-280px 0;
			width: 22px;
			height: 18px;
			top: 3px;
			left: 0;
		}
		.n4{
			background-position:-308px 0;
			width: 18px;
			height: 18px;
			top: 4px;
			left: 2px;
		}
	}
}