/////////////////////////////////////////////////////数据库管理中心
//数据库信息
#database-dataInformation{
	.content-body{
		.lis{
			padding-left: 580px;
		}
		.total{
			position:absolute;
			right: 620px;
			width: 580px;
			text-align: right;
			height: 100%;
			line-height: 55px;
		}
		.tiao-box{
			width: 205px;
			height: 37px;
			position:relative;
			padding-top:25px;
			padding-right:50px;
			left: -80px;
			.bg{
				background:#444444;
				height: 100%;
			}
			.mask{
				position:absolute;
				top:25px;
				height: 37px;
				background:#89c997;
				color:#fff;
				text-align: center;
				overflow: hidden;
				line-height: 32px;
				font-size: 12px;
				transition: width .25s ease-in-out;
				width: 0;
			}
			.top{
				position: absolute;
				top:0;
				left: 0;
			}
			.right{
				position:absolute;
				top: 25px;
				height: 37px;
				line-height: 37px;
				right: 0;
			}
		}
	}
}
//数据库管理
#database-dataManagement{
	.content-body{
		a{
			display: block;
			height: 100%;
		}
		li{
			position:relative;
			height: 115px;
			h4{
				position:absolute;
				bottom:0;
				text-align: center;
				width: 100%;
			}
		}
		.icon{
			margin:0 auto;
		}
		.img1{
			width: 39px;
			height: 55px;
			background-position: 0 -30px;
		}
		.img2{
			width: 61px;
			height: 55px;
			background-position:-70px -30px;
		}
		.img3{
			width: 43px;
			height: 57px;
			background-position:-140px -30px;
		}
		.img4{
			width: 56px;
			height: 55px;
			background-position:-210px -30px;
		}
		.img5{
			width: 44px;
			height: 56px;
			background-position:-280px -30px;
		}
		.img6{
			width: 64px;
			height: 56px;
			background-position:-350px -30px;
		}
	}
}
//修改数据库密码
#database-editPassword{
	.content-body{
		.lis{
			height: 58px;
			line-height: 58px;
			padding-left:530px;
		}
		.total{
			position:absolute;
			right: 670px;
			width: 230px;
			text-align: right;
			height: 100%;
			line-height: 55px;
		}
		input{
			width: 193px;
			height: 33px;
			border:1px solid #c4c4c4; 
			padding-left: 5px;
			font-size: 14px;
		}
		.mmts{
			color: #b3b3b3;
			font-size: 14px;

		}
		.mmtsf{
			line-height: 25px;
			height: 25px;
		}
		.button{
			margin-top: 35px;
			width: 130px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			color:#fff;
			background:#5c91e6;
			font-size: 14px;
			display: block;
			border-radius: 3px;
		}
		.button-box{
			margin-bottom: 40px;
		}
		.content-ts{
			padding-left:430px;
		}
	}
}
//数据库备份还原
#database-backupAreduction{
	.form{
		width: 819px;
		border-top:1px solid #efefef;
		border-left:1px solid #efefef;
		margin: 0 auto;
		.top{
			border-right:1px solid #efefef;
			border-bottom:1px solid #efefef;
			background:#f5f9fa;
			height: 38px;
			line-height: 38px;
			text-align: center;
			h3{
				float: left;
				width: 200px;
				font-size: 14px;
			}
			p{
				float: left;
				width: 599px;
				span{
					font-size: 14px;
				}
				span+span{
					margin-left: 20px;
				}
			}
		}
		li{
			float:left;
			border-right:1px solid #efefef;
			border-bottom: 1px solid #efefef;
			text-align: center;
			line-height: 50px;
			height: 50px;
			font-size: 14px;
		}
		.row1{
			width: 200px;
		}
		.row2{
			width: 200px;
		}
		.row3{
			width: 200px;
			span{
				font-size: 14px;
				padding-left:20px;
				position:relative;
				color:#5c91e6;
				cursor: pointer;
				.icon{
					width: 14px;
					height: 14px;
					background-position:-122px 0;
					position:absolute;
					left: 0;
					top: 4px;
				}
			}
		}
		.row4{
			width: 215px;
			span{
				font-size: 14px;
				padding-left:25px;
				position:relative;
				color:#b3b3b3;
				.icon{
					width: 17px;
					height: 14px;
					background-position:-141px 0;
					position:absolute;
					left: 0;
					top: 4px;
				}
			}
			span.shue{
				color: #50ac49;
				cursor: pointer;
				.icon{
					background-position:-200px 0;
				}
			}
		}
	}
	.form+.form{
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.form.form2{
		.top{
			p{
				text-align: left;
				padding-left:225px;
				width: auto;
			}
		}
		.row-left{
			width: 200px;
		}
		.row-right{
			width: 617px;
		}
		.last{
			span{
				font-size: 14px;
			}
			.xyd{
				padding-left:20px;
				position:relative;
				cursor: pointer;
				color:#5c91e6;
				.icon{
					position:absolute;
					background-position:-169px 0;
					width: 14px;
					height: 14px;
					left: 0;
					top: 4px;
				}
			}
		}
	}
	.content-ts{
		padding-left:285px;
		.red{
			color: #e2383a;
		}
	}
}
//设置远程访问IP
#database-accessIP{
	.floor{
		h3{
			height: 35px;
			line-height: 35px;
			padding-left:30px;
			padding-top:17px;
		}
		.lis{
			padding-left:600px;
			height: 55px;
			line-height: 55px;
			position:relative;
			.bind{
				*padding-top:16px;
			}
			.total{
				position:absolute;
				right: 600px;
				width: 600px;
				height: 55px;
				line-height: 55px;
				text-align: right;
			}
			input{
				width: 195px;
				height: 33px;
				border:1px solid #c4c4c4;
				padding-left:5px;
				*margin-top:10px;
			}
		}
	}
	.floor1{
		margin-top: -50px;
		margin-bottom: 50px;
	}
	.floor2{
		border-top:1px solid #efefef;
		.lis{
			padding-left:537px;
			.total{
				width: 537px;
				right: 660px;
			}
		}
	}
	.button-box{
		margin-top: 30px;
		padding-bottom:60px;
		a{
			width: 130px;
			height: 40px;
			background:#5c91e6;
			color:#fff;
			text-align: center;
			line-height: 40px;
			display: block;
			border-radius:3px;
		}
		a:active{
			background: #507fcb;
		}
	}
	.content-ts{
		padding-left:500px;
	}
}
//清空数据库
#database-emptydata{
	.content-body{
		.img{
			padding-bottom:45px;
			.icon{
				margin: 0 auto;
				width: 112px;
				height: 120px;
				background-position:-13px -158px;
			}
		}
		h3,p{
			text-align: center;
		}
		.button-box{
			padding:60px 0;
			a{
				width: 130px;
				height: 40px;
				background:#5c91e6;
				color:#fff;
				text-align: center;
				line-height: 40px;
				display: block;
				border-radius:3px;
				margin: 0 auto;
			}
			a:active{
				background: #507fcb;
			}
		}
		.content-ts{
			padding-left:480px;
			h3,p{
				text-align: left;
			}
		}
		.content-ts.emptylog{
			padding-left:350px;
			span{
				color:#b3b3b3;
				position:absolute;
				top:0;
				left: 0;
			}
			h3,p{
				text-align: left;
			}
			p{
				padding-left:40px;
				width: 465px;
				position:relative;
			}
		}
	}
}
/////////////////////////////////////////////////////////////////虚拟主机管理中心-高级功能
//高级功能
#virtual-websiteAdvanced{
	.content-body{
		a{
			display: block;
			height: 115px;
			position:relative;
		}
		.icon{
			margin: 0 auto;
		}
		.m{
			margin-bottom: 90px;
		}
		h4{
			text-align: center;
			position:absolute;
			left: 0;
			bottom:0;
			width: 100%;
		}
		.img1{
			width: 56px;
			height: 56px;
			background-position:0 -309px;
		}
		.img2{
			width: 84px;
			height: 51px;
			background-position:-136px -314px;
		}
		.img3{
			width: 56px;
			height: 52px;
			background-position:-69px -313px;
		}
		.img4{
			width: 55px;
			height: 53px;
			background-position:-234px -314px;
		}
		.img5{
			width: 58px;
			height: 54px;
			background-position:-299px -314px;
		}
		.img6{
			width: 52px;
			height: 57px;
			background-position:-379px -314px;
		}
		.img7{
			width: 66px;
			height: 58px;
			background-position:-452px -314px;
		}
		.img8{
			width: 42px;
			height: 57px;
			background-position:-533px -315px;
		}
		.img9{
			width: 55px;
			height: 58px;
			background-position:-596px -315px;
		}
	}
}
//浏览器FTP
#virtual-ftp{
	.form{
		border-top:1px solid #efefef;
		border-left:1px solid #efefef;
		width: 819px;
		margin: 0 auto;
		.top{
		    border-right: 1px solid #efefef;
		    border-bottom: 1px solid #efefef;
		    background: #f5f9fa;
		    height: 38px;
		    line-height: 38px;
		   
		    padding-left:20px;
		}
		li{
			float: left;
		    border-right: 1px solid #efefef;
		    border-bottom: 1px solid #efefef;
		    line-height: 50px;
		    height: 50px;
		    font-size: 14px;
		   	text-align: center;
		}
		.row1{
			width: 199px;
		}
		.row2{
			width: 618px;
		}
		.back-bottom{
			text-align: right;
			padding-right:20px;
			padding-top:10px;
			a{
				font-size: 14px;
			}
		}
	}
}
//自定义出错页
#virtual-errorpage{
	.floor{
		padding-bottom:40px;
		h3{
			text-align: center;
			font-size: 18px;
			padding-bottom:35px;
		}
		ul{
			width: 700px;
			margin: 0 auto;
		}
		li{
			float: left;
			margin-bottom: 20px;
			width: 350px;
			input{
				margin-right: 10px;
			}
			label{
				font-size: 14px;
				cursor:pointer;
			}
		}
		.button{
			padding-top:30px;
			a{
				margin: 0 auto;
			}
		}
	}
	.floor+.floor{
		padding-top: 50px;
		border-top:1px solid #e4e4e4;
	}
	.content-ts{
		width: 700px;
		margin: 0 auto;
		p{
			padding-left:20px;
			position:relative;
			span{
				position: absolute;
				left: 0;
				top: 0;
				color: #b3b3b3;
			}
		}
		p.y{
			padding-left:25px;
		}
	}
}
//MIME类型
#virtual-mime{
	.floor1{
		.lis{
			padding-left:450px;
			height: 55px;
			line-height: 55px;
			margin-bottom: 30px;
			.total{
				position:absolute;
				height :100%;
				left: 0;
				width: 450px;
				top:0;
				text-align: right;
			}
			select{
				width: 140px;
				height: 33px;
				border:1px solid #ebebeb;
				padding-left:10px;
			}
			.bind{
				width: 140px;
				height: 33px;
				border:1px solid #ebebeb;
				text-align: center;
				display: inline-block;
				line-height: 33px;
				margin-top: 10px;
				font-size: 14px;
			}
		}
		.ts{
			font-size: 14px;
			b{
				margin: 0 5px;
				font-size: 14px;
			}
		}
		
		.floor1-ts{
			padding-left:340px;
			width: 530px;
			p{
				font-size: 14px;
				color:#b3b3b3;
				line-height: 25px;
			}
		}
	}
	.floor2{
		margin-top: 50px;
		border-top:1px solid #ebebeb;
		padding-top:30px;
		h3{
			width: 820px;
			margin: 0 auto;
			padding-bottom:20px;
		}
		.form{
		    width: 819px;
		    border-top: 1px solid #efefef;
		    border-left: 1px solid #efefef;
		    margin: 0 auto;
		    .top{
		    	border-right: 1px solid #efefef;
			    border-bottom: 1px solid #efefef;
			    background: #f5f9fa;
			    height: 50px;
			    line-height: 50px;
			    h4{
			    	float:left;
			    	padding-left:20px;
			    }
		    }
		    li{
		    	float: left;
			    border-right: 1px solid #efefef;
			    border-bottom: 1px solid #efefef;
			    line-height: 50px;
			    height: 50px;
			    font-size: 14px;
			    padding-left:20px;
		    }
		    .row1{
		    	width: 260px;
		    }
		    .row2{
		    	width: 263px;
		    }
		    .row3{
		    	width: 233px;
		    }
		}
	}
}
//发送错误信息设置
#virtual-senderror{
	.lis{
		padding-left:590px;
		height: 50px;
		line-height: 50px;
		padding-bottom:50px;
		.button{
			a{
				width: 130px;
				height: 40px;
				background:#5c91e6;
				color:#fff;
				text-align: center;
				line-height: 40px;
				display: block;
				border-radius:3px;
			}
			a:active{
				background: #507fcb;
			}
		}
		.total{
			width: 590px;
			left:0;
			top:0;
			text-align: right;
			position:absolute;
		}
		select{
			width: 170px;
			height: 33px;
			border:1px solid #e4e4e4;
			padding-left:10px;
		}
	}
	.content-ts{
		padding-left:390px;
	}
}
//解压压缩
#virtual-unpackApack{
	.lis{
		text-align: center;
		height: 50px;
		line-height: 50px;
		.input{
			margin: 0 10px;
			height: 33px;
			width: 195px;
			padding-left:5px;
			border:1px solid #e4e4e4;
		}
		span+span{
			margin-left: 75px;
		}
		.pack{
			padding-left:23px;
			position:relative;
			cursor: pointer;
			.icon{
				position:absolute;
				left: 0;
				top: 4px;
				width: 16px;
				height: 16px;
			}
		}
		.unpack{
			padding-left:23px;
			position:relative;
			cursor: pointer;
			.icon{
				position:absolute;
				left: 0;
				top: 4px;
				width: 16px;
				height: 16px;
			}
		}
		.fj{
			cursor: pointer;
			input,label{
				cursor: pointer;
			}
			input{
				margin-right:5px;
			}
		}
	}
	.lis+.lis{
		margin-top: 30px;
	}
	.packbox{
		.pack{
			.icon{
				background-position:-20px -89px;
			}
		}
		.unpack{
			.icon{
				background-position:-42px -89px;
			}
		}
	}
	.unpack-box{
		display: none;
		.unpack{
			.icon{
				background-position:-20px -89px;
			}
		}
		.pack{
			.icon{
				background-position:-42px -89px;
			}
		}
	}
	.button{
		a{
			margin:0 auto;
		}
	}
	.content-ts{
		padding-left:250px;
		width: 700px;
		p{
			position:relative;
			padding-left:20px;
			span{
				position:absolute;
				left: 0;
				top:0;
				color:#b3b3b3;
			}
		}
	}
}
//预装网站
#virtual-installweb{
	.img{
		padding-bottom:100px;
		.icon{
			background-position:-158px -158px;
			width: 113px;
			height: 112px;
			margin: 0 auto;
			margin-bottom: 40px;
		}
		h3{
			text-align: center;
		}
	}
	.content-ts{
		padding-left:220px;
	}
	.download{
		.img{
			padding-bottom: 40px;
			.icon{
				background-position:-302px -165px;
				width: 105px;
				height: 105px;
			}
		}
		.button{
			padding-bottom:50px;
			a{
				margin: 0 auto;
			}
		}
		h3+h3{
			margin-top: 10px;
		}
		.content-ts{
			padding-left:284px;
		}
	}
}
//网络搬家
#virtual-networkmove{
	.lis{
		padding-left:440px;
		height: 50px;
		line-height: 50px;
		.bind{
			position:absolute;
			left: 0;
			top:0;
			width: 440px;
			height: 100%;
			line-height: 50px;
			text-align: right;
		}
		.input{
			width: 	195px;
			height: 33px;
			border:1px solid #e4e4e4;
			padding-left:5px;	
		}
		
		.ts{
			margin-left: 10px;
			font-size: 14px;
			b{
				font-size: 14px;
				padding-right: 5px;
			}
		}
		&.tb{
			.input{
				margin-top: 10px;
			}
			span{
				float: left;
			}
			.ts{
				width: 280px;
			}
		}
		label{
			cursor: pointer;
		}

	}
	ul{
		padding-bottom:50px;
	}
	.lis+.lis{
		margin-top: 20px;
	}
	.content-ts{
		padding-left:345px;
	}	
}
//删除文件夹
#virtual-deletefolder{
	.lis{
		padding-left:530px;
		height: 50px;
		line-height: 50px;
		.bind{
			width: 530px;
			position:absolute;
			left: 0;
			top:0;
			height: 100%;
			text-align: right;
			line-height: 50px;
		}
		input{
			width: 195px;
			height: 33px;
			border:1px solid #e4e4e4;
			padding-left:5px;
			*margin-top:10px;
		}
	}
	.button{
		margin-top: 30px;
		padding-bottom:50px;
	}
	.content-ts{
		padding-left:470px;
	}
}
/////////////////////////////////////////////////////////虚拟主机管理中心-基础功能
//基础功能首页
#virtual-base{
	.content-body{
		a{
			display: block;
			height: 115px;
			position:relative;
		}
		.icon{
			margin: 0 auto;
		}
		.m{
			margin-bottom: 90px;
		}
		h4{
			text-align: center;
			position:absolute;
			left: 0;
			bottom:0;
			width: 100%;
		}
	}
	.img1.icon{
		background-position:0 -388px;
		width:64px;
		height: 52px;
	}
	.icon.img2{
		background-position:-79px -388px;
		width:57px;
		height: 55px;
	}
	.icon.img3{
		background-position:-148px -388px;
		width:52px;
		height: 56px;
	}
	.icon.img4{
		background-position:-214px -388px;
		width:57px;
		height: 60px;
	}
	.icon.img5{
		background-position:-276px -390px;
		width:58px;
		height: 58px;
	}
	.icon.img6{
		background-position:-341px -392px;
		width:56px;
		height: 56px;
	}
}
//主机状态
#hoststate{
	.content-body{
		h3{
			text-align: center;
			span{
				position: relative;
			}
			.move{
				&:after{
					content:'';
					position:absolute;
					height: 6px;
					width: 6px;
					background:#07c466;
					right: -10px;
					top:0;
					bottom:0;
					margin: auto;
					border-radius:50%;
				}
			}
			.stop{
				&:after{
					content:'';
					position:absolute;
					height: 6px;
					width: 6px;
					background:#e04242;
					right: -10px;
					top:0;
					bottom:0;
					margin: auto;
					border-radius:50%;
				}
			}
		}
		.img{
			padding:40px 0;
			.icon{
				margin: 0 auto;
			} 
			.icon.move{
				background-position:-101px -500px;
				width: 97px;
				height: 87px;
			}
			.icon.stop{
				background-position:0 -500px;
				width: 86px;
				height: 87px;
			}
		}
		.button{
			text-align: center;
			padding-top:50px;
			a{
				display: inline-block;
				width: 88px;
				height: 40px;
				position:relative;
				border-radius:0;
				*width:130px;
				&:after{
					content:'';
					position:absolute;
					right: -20px;
					height: 40px;
					width: 40px;
					border-radius:50%;
				}
				&:before{
					content:'';
					position:absolute;
					left: -20px;
					height: 40px;
					width: 40px;
					border-radius:50%;
				}
			}
			a.move{
				background:#07c466;
				&:after{
					background:#07c466;
				}
				&:before{
					background:#07c466;
				}
			}
			a.pause{
				background:#e04242;
				margin-left: 65px;
				&:after{
					background:#e04242;
				}
				&:before{
					background:#e04242;
				}
			}
		}
	}
}
//域名绑定
#domainbind{
	.content-body{
		h3{
			padding-left:30px;
			padding-bottom:32px;
		}
		.floor{
			padding-bottom:20px;
		}
		.floor+.floor{
			padding-top:30px;
			border-top:1px solid #e4e4e4;
		}
		.search{
			text-align: center;
			input{
				width: 300px;
				height: 40px;
				border:1px solid #e4e4e4;
				padding-left:5px;
				position:relative;
				*top:13px;
			}
		}
		.jc{
			width: 60px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			background:#5c91e6;
			color:#fff;
			display: inline-block;
			margin-left: 10px;
			border-radius:3px;
			font-size: 14px;
		}
		.jc:active{
			background: #507fcb;
		}
		.ts{
			padding-top:20px;
			color:#b3b3b3;
			text-align: center;
		}
		.form{
			width: 751px;
			border-top:1px solid #e4e4e4;
			border-left:1px solid #e4e4e4;
			margin: 0 auto;
			padding-bottom: 30px;
			ul.top{
				background:#f5f9fa;
				li{
					height: 40px;
					line-height: 40px;
				}
			}
			ul{
				border-right:1px solid #e4e4e4;
				border-bottom:1px solid #e4e4e4;
			}
			li{
				width: 250px;
				float: left;
				text-align: center;
				height: 50px;
				line-height: 50px;
			}
			input{
				width: 203px;
				height: 30px;
				border:1px solid #e4e4e4;
				padding-left:5px;
			}
			a{
				color: #5c91e6;
			}
			a:active{
				color: #507fcb;
			}
		}
	}
	.content-ts{
		padding-left:315px;
		width: 580px;
		h3{
			padding: 0;
		}
		p{
			padding-left:25px;
			position:relative;
		}
		span{
			position:absolute;
			top:0;
			left: 0;
			color:#b3b3b3;
		}
	}
}
//FTP管理
#baseFTP{
	.lis{
		padding-left:536px;
		height: 50px;
		line-height: 50px;
		.total{
			width: 536px;
			position:absolute;
			width: 536px;
			height: 100%;
			left: 0;
			top: 0;
			text-align: right;
		}
		input{
			width: 193px;
			border:1px solid #e4e4e4;
			height: 35px;
			line-height: 35px;
			padding-left:5px;
		}
	}
	div.lis.mmts{
		margin: 0;
		height: 25px;
		line-height: 25px;
		p{
			font-size: 14px;
			color:#b3b3b3;
		}
	}
	.lis+.lis{
		margin-top: 10px;
	}
	.button{
		padding-top:20px;
		padding-bottom:60px;
	}
	.content-ts{
		padding-left:435px;
	}
}
//设置首页
#sethome{
	.form{
		width: 751px;
		border-top:1px solid #e4e4e4;
		border-left:1px solid #e4e4e4;
		margin: 0 auto;
		margin-bottom:50px;
		li{
			height: 50px;
			line-height: 50px;
			text-align: center;
			float:left;
		}
		ul{
			border-right:1px solid #e4e4e4;
			border-bottom:1px solid #e4e4e4;
		}
		.row1{
			width: 170px;
		}
		.row2{
			width: 390px;
		}
		.row3{
			width: 190px;
		}
		input{
			width: 203px;
			height: 28px;
			border:1px solid #e4e4e4;
			padding-left:5px;
		}
		.top{
			background:#f5f9fa;
			li{
				height: 40px;
				line-height:40px;
			}
		}
		.ym{
			.row3{
				vertical-align: middle;
				line-height: normal;
				b{
					height: 100%;
					display: inline-block;
					width: 1px;
					margin-left: -10px;
					vertical-align: middle;
				}
			}
			.bw{
				width: 14px;
				height: 14px;
				background:transparent;
			}
			.icon{
				display: inline-block;
				vertical-align: middle;
			}
			.icon+.icon{
				margin-left: 20px;
			}
			.icon.up{
				width: 14px;
				height: 14px;
				cursor: pointer;
				background-position: 0 -461px;
			}
			.icon.down{
				width: 14px;
				cursor: pointer;
				height: 14px;
				background-position:-25px -461px;
			}
			.icon.delete{
				width: 24px;
				cursor: pointer;
				height: 26px;
				background-position:-46px -461px;
			}
		}
		.add{
			a{
				color: #5c91e6;
			}
		}
	}
	.content-ts{
		padding-left:390px;
	}
}
//赠品管理
#sendset{
	.lis{
		height: 50px;
		line-height: 50px;
		padding-left:520px;
		.total{
			width: 520px;
			position:absolute;
			left: 0;
			top:0;
			text-align: right;
		}
		input{
			width: 180px;
			height: 33px;
			border:1px solid #e4e4e4;
			padding-left:5px;
		}
		select{
			width: 150px;
			height: 33px;
			padding-left:5px;
			border:1px solid #e4e4e4;
		}
		span{
			position:relative;
		}
		.icon{
			position:absolute;
			right: 12px;
			top:5px;
			width: 20px;
			height: 16px;
			background-position:-86px -466px;
			background-image: url(../img/icon.png);
			*top:12px;
		}
		a.button{
			width: 80px;
			height: 30px;
			display: inline-block;
			background:#5c91e6;
			color: #fff;
			padding-left:20px;
			text-align: center;
			line-height: 30px;
			position:relative;
			margin-left: 10px;
			&:after{
				content:'';
				position:absolute;
				width: 10px;
				height: 16px;
				top:7px;
				left: 10px;
				background-position:-121px -466px;
				background-image:url(../img/icon.png);
			}
		}
		.ts{
			margin-left: 10px; 
			font-size: 14px;
			color:#b3b3b3;
		}
	}
	.zy{
		text-align: center;
		color:#e04242;
		font-size: 14px;
		margin-top: 20px;
		padding-bottom:50px;
	}
	.content-ts{
		padding-left:365px;
	}
}
//cpu使用情况
#baseCPU{
	.floor1{
		.lis{
			padding-left:605px;
			height: 50px;
			line-height: 50px;
			.total{
				width: 605px;
				height: 100%;
				line-height: 50px;
				position:absolute;
				top:0;
				left: 0;
				text-align: right;
			}
		}
			
	}
	.floor{
		h3{
			padding-left:30px;
			padding-bottom:20px;
		}
	}
	.floor2{
		padding-top:20px;
		margin-top: 50px;
		border-top:1px solid #e4e4e4;
		position:relative;
		padding-bottom:50px;
		.lis{
			padding-left:133px;
		}
	}
	#gvChartDiv1{
		position: absolute;
		top:0;
		left: 400px;
	}
}
////////////////////////////////////////////////////////////////////虚拟主机管理中心-网站其他管理
#virtual-other{
	.content-body{
		ul{
			width: 900px;
			margin: 0 auto;
		}
		a{
			height: 115px;
			display: block;
			position:relative;
			.icon{
				margin: 0 auto;
			}
			h4{
				position:absolute;
				width: 100%;
				text-align: center;
				bottom:0;
				left:0;
			}
		}
		.img1{
			background-position:0 -612px;
			width: 49px;
			height: 55px;
		}
		.img2{
			background-position:-56px -615px;
			width: 56px;
			height: 52px;
		}
		.img3{
			background-position:-125px -615px;
			width: 56px;
			height: 55px;
		}
	}
}
#virtual-setip{
	.lis{
		padding-left:550px;
		position:relative;
		height: 50px;
		line-height: 50px;
		.total{
			position:absolute;
			width: 550px;
			height: 100%;
			line-height: 50px;
			left: 0;
			top: 0;
			text-align: right;
		}
		input{
			width: 200px;
			height: 33px;
			border:1px solid #e4e4e4;
			padding-left:5px;
		}
	}
	.button{
		margin-top: 45px;
		padding-bottom:50px;
	}
	.content-ts{
		padding-left:400px;
	}
}
#virtual-setexecute{
	.img{
		.icon{
			width: 100px;
			height: 114px;
			background-position:-224px -466px;
			margin: 0 auto;
		}
		h4{
			font-size: 16px;
			text-align: center;
			margin-top: 40px;
		}
	}
	.button{
		margin-top: 40px;
		text-align: center;
		a{
			display: inline-block;
			margin:0 10px; 
		}
	}
	.lis{
		text-align: center;
		input{
			width: 200px;
			padding-left:5px;
			height: 33px;
			border:1px solid #e4e4e4;
		}
	}
	.content-ts{
		margin-top: 50px;
		padding-left:280px;
	}
}
#virtual-information{
	.content-body{
		.lis{
			padding-left: 580px;
		}
		.total{
			position:absolute;
			right: 620px;
			width: 580px;
			text-align: right;
			height: 100%;
			line-height: 55px;
		}
		.tiao-box{
			width: 205px;
			height: 20px;
			position:relative;
			padding-right:50px;
			left: -80px;
			.bg{
				background:#444444;
				height: 100%;
			}
			.mask{
				position:absolute;
				top:0;
				height: 20px;
				background:#89c997;
				color:#fff;
				text-align: center;
				overflow: hidden;
				line-height: 20px;
				font-size: 12px;
				transition: width .25s ease-in-out;
				width: 0;
			}
			.top{
				position: absolute;
				top:0;
				left: 0;
			}
			.right{
				position:absolute;
				height: 20px;
				line-height: 20px;
				right: 0;
				top: 0;
				font-size: 14px;
			}
		}
	}
}